In [2]:
from utils import *
from sklearn.model_selection import train_test_split

In [3]:
# To avoid pulling more images when unwanted, change to True if more images are needed
manual_pull_stats = False

if manual_pull_stats:
    get_images_from_source(
        source_folder=r'D:\Downloads\images\images',
        destination_folder=r'C:\Users\guibl\Advanced-Analytics-Projects\Food-Image-Classifier\data',
        num_images=200
    )

In [4]:
df_imgs = prepare_datafile('image_metadata.csv', 'data')

In [5]:
df_imgs.head()

    choice             image
0     Food  data/1000104.jpg
1  No-Food  data/1000774.jpg
2     Food  data/1000910.jpg
3     Food  data/1002403.jpg
4  No-Food  data/1003809.jpg

In [14]:
100*df_imgs['choice'].value_counts()/df_imgs.shape[0]

choice
Food       67.0
No-Food    33.0
Name: count, dtype: float64

In [18]:
train_val_df, test_df = train_test_split(df_imgs, train_size=0.8)

In [19]:
100*train_val_df['choice'].value_counts()/train_val_df.shape[0]

choice
Food       67.395833
No-Food    32.604167
Name: count, dtype: float64

In [20]:
100*test_df['choice'].value_counts()/test_df.shape[0]

choice
Food       65.416667
No-Food    34.583333
Name: count, dtype: float64

In [21]:
train_val_df.to_csv('train_val.csv', index=False)
test_df.to_csv('test.csv', index=False)